.hidden {
	display: none;
}

#estates {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.realEstate {
	width: 25%;
	height: auto;
	background-color: rgb(142, 137, 137);
	padding: 2px;
	margin: 5px;
}

.realEstate * {
	padding-left: 5px;
}
