#main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	gap: 60px;
	padding: 20px;
}

#main div {
	width: 250px;
}

#main img {
	width: 100%;
	height: 250px;
	object-fit: cover;
}
